.create-player-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.create-player-button:hover {
  background-color: #45a049;
}

.create-player-button:active {
  background-color: #398c3e;
}
body {
  margin-top: 60px; /* Adjust as needed */
}

header {
  padding-top: 15px; /* Adjust as needed */
}